[submodule "third_party/projects"]
	path = third_party/projects
	url = https://github.com/Polymer/projects.git
[submodule "third_party/toolkit-ui"]
	path = third_party/toolkit-ui
	url = https://github.com/Polymer/toolkit-ui.git
[submodule "third_party/polymer-ui-elements"]
	path = third_party/polymer-ui-elements
	url = https://github.com/Polymer/polymer-ui-elements
[submodule "third_party/polymer-elements"]
	path = third_party/polymer-elements
	url = https://github.com/Polymer/polymer-elements
[submodule "third_party/more-elements"]
	path = third_party/more-elements
	url = https://github.com/Polymer/more-elements.git
[submodule "third_party/polymer"]
	path = third_party/polymer
	url = https://github.com/Polymer/polymer.git
[submodule "third_party/platform"]
	path = third_party/platform
	url = https://github.com/Polymer/platform.git
[submodule "third_party/CustomElements"]
	path = third_party/CustomElements
	url = https://github.com/Polymer/CustomElements.git
[submodule "third_party/HTMLImports"]
	path = third_party/HTMLImports
	url = https://github.com/Polymer/HTMLImports.git
[submodule "third_party/ShadowDOM"]
	path = third_party/ShadowDOM
	url = https://github.com/Polymer/ShadowDOM.git
[submodule "third_party/PointerGestures"]
	path = third_party/PointerGestures
	url = https://github.com/Polymer/PointerGestures.git
[submodule "third_party/PointerEvents"]
	path = third_party/PointerEvents
	url = https://github.com/Polymer/PointerEvents.git
[submodule "third_party/web-animations-js"]
	path = third_party/web-animations-js
	url = https://github.com/web-animations/web-animations-js.git
[submodule "third_party/polymer-expressions"]
	path = third_party/polymer-expressions
	url = https://github.com/Polymer/polymer-expressions.git
[submodule "third_party/observe-js"]
	path = third_party/observe-js
	url = https://github.com/Polymer/observe-js.git
[submodule "third_party/NodeBind"]
	path = third_party/NodeBind
	url = https://github.com/Polymer/NodeBind.git
[submodule "third_party/TemplateBinding"]
	path = third_party/TemplateBinding
	url = https://github.com/Polymer/TemplateBinding.git
